* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 20px;
    height: 100vh;
    width: 100vw;
}

/* SIDEBAR */
.header {
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
}
.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(98, 201, 235);
}

.sidebar-content {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-gap: 30px;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
    font-size: 42px;
}
.dashboard img {
    width: 50px;
    height: 50px;
}

.options {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}

.options-top {
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.options-top .item {
    display: flex;
    align-items: center;
    padding-left: 35px;
    gap: 12px;
    font-size: 26px;
}
.options-top img {
    border: 1px solid pink;
    width: 32px;
    height: 32px;
}

.options-bottom {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}
.options-bottom .item{
    display: flex;
    align-items: center;
    padding-left: 35px;
    gap: 12px;
    font-size: 26px;
}
.options-bottom img {
    border: 1px solid pink;
    height: 32px;
    width: 32px;
}

/* HEADER */
.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .top-row .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5em;
    gap: 1.5em;      
}
.header .top-row .right {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: flex-end;
    gap: 3em;
    padding-right: 5em;
}

.header .top-row .left img , 
.header .top-row .right img {
    border: 1px solid pink;
    height: 32px;
    width: 32px;
}

.header .top-row .right img[alt="top-logo"] {
    border-radius: 15px;
}
.header .search-bar {
    border: 0px solid black;
    background-color: rgb(219, 227, 231);
    border-radius: 10px;
    height: 25px;
    width: 70%;
}

/* header bottom row */
.header .bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .bottom-row .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    padding-left: 5em;


}
.header .bottom-row .left img{
    border: 1px solid green;
    height: 46px;
    width: 46px;
    border-radius: 25px;
}

.header .bottom-row .right {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: flex-end;
    padding-right: 5em;
    gap: 4em;
}
.header .bottom-row .right button {
    width: 65px;
    height: 35px;
    background-color: rgb(98, 201, 235);
    border: 0px;
    border-radius: 10px;
}

/* MAIN CONTENT */
.main-content {
    background-color: rgb(219, 227, 231);
    padding: 15px;
    border: 1px solid firebrick;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
}

.main-content-left .projects {
    border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 20px;
}

.main-content-left .projects .project-container {
    border-radius: 10px;
    border-left-color: gold;
    border-left-width: 10px;
}

.project-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5em;
}
.project-container .name-description {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.project-container .project-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.project-container .project-icons img {
    height: 32px;
    width: 32px;
}

.main-content div {
    border: 1px solid red;
}

.main-content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.main-content-right .announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-content-right .announcements div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
}

.main-content-right .trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}