* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 20px;
    height: 100vh;
}

.container div {
    border: 1px solid orange;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 80px 1fr;
}

.options {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 50px;
}

.options-top {
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.options-bottom {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}