* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 20px;
    height: 100vh;
}

.container div {
    border: 1px solid orange;
}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
}